*{
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}

/* Header Part */
a{
    all:unset;
}
ul{
    list-style: none;
    padding: 0px;
    margin: 0px;

}
.top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.links{
    display: flex;
    gap:16px;
    justify-content: space-between;
}

.header{
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
    justify-content: space-between;
    
    
}
.headercontent{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 0px;
    padding: 0px;

}
.headertextcontent{
    flex: 1;
    margin: 0px;
    padding: 0px;
}
.logo{
    font-weight:bolder;
}
.logo,a{
    color:#efe7eb;
    font-size: 18px;
}
.headertextcontent>h2{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
    
}
.headertextcontent>p{
    font-size: 18px;
    color: #e5e7eb;
}
.headertextcontent>button   {
    background-color: #3882f6;
    color: #e5e7eb;
    font-weight: 900;
    border-radius: 10px;
    border-width: 0;
    align-self: flex-start;
    padding: 10px 20px; 
}
.headerimage{
    border: 1px solid grey;
    background-color: gray;
    text-align: center;
    color: white;
    align-self: center;
    padding:100px;
    
}

/*Content Part */
/* Main Content Part */
.maincontent>h3{
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    color: #1f2937;
}
.maincontent{
    margin: auto 0px 50px 0px;
}
.imagebox{
    border: 5px solid #3882f6;
    padding: 50px; 
    border-radius: 10px; 
    margin: 0;  
}
.imagesection{
    display: flex;
    justify-content: center;
    gap:52px;
    text-align: center;
}
.info{
    max-width: 200px;
}

/*Quote part*/
.quote{
    background-color: #efe7eb;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin:auto 0px 30px 0px;
    padding: 30px 0px;
    
}
.quote>span{
    font-weight: bolder;
    margin-left:70vb;
    font-size: 25px;
          
}
.quote>p{
    margin: 0px;
    font-weight: 300;
    color: #1f2937;
    font-size: 36px;
}

/* bubble with sign up part */
.bubble{
    background-color: #3882f6;
    margin:30px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    color: #F9FAF8;
    padding: 5px 30px;
    
}
.bubbletext>h4{
    font-weight: 900;
    font-size:24px ;
    margin: 0;
}
.bubbletext{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 10px;
}
.bubble>button{
    border: 1px solid #F9FAF8;
    background-color: transparent;
    color: #F9FAF8;
    font-weight: 900;
    border-radius: 5px;
    margin-left:auto ;
    padding:5px ;
}

/* Footer */
.footer{
    background-color:#1f2937;
    text-align: center;
    font-size: 18px;
    margin: 0px;
    color: #efe7eb;
    margin-top: auto;
    padding: 20px 50px;
    
}
